---
Language: Cpp
ColumnLimit: 100
IndentWidth: 4
SpaceAfterTemplateKeyword: false
AlignTrailingComments: false
AllowShortBlocksOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
SpaceBeforeRangeBasedForLoopColon: false
Standard: c++17
...
